/PROJect/chest_xray filter=lfs diff=lfs merge=lfs -text
/PROJECT/chest_xray filter=lfs diff=lfs merge=lfs -text
F:/svr/movies/major[[:space:]]project[[:space:]]files/project/chest_xray filter=lfs diff=lfs merge=lfs -text
